@import url(./variables.css);
@import url(./__unit/page__unit.css);
@import url(./__header/page__header.css);
@import url(./__content/page__content.css);
@import url(./__footer/page__footer.css);
@import url(./__cap/page__cap.css);
@import url(./__bar/page__bar.css);

.page {
  margin: auto;

  min-width: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 60px;
  box-sizing: border-box;
}

/* стало две колонки */
@media screen and (max-width: 945px) {
  .page {
    margin: 0;
  }
}

/* стала одна колонка */
@media screen and (max-width: 646px) {
  .page {
    padding-bottom: 36px;
  }
}
