.profile__about {
  font-size: 18px;
  line-height: 1.23;
  font-weight: normal;
  margin: 6px 0 0;
  max-width: 80%;
}

/* стало две колонки */
@media screen and (max-width: 945px) {
  .profile__about {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .profile__about {
    font-size: 14px;
  }
}
