/* стало две колонки */
@media screen and (max-width: 945px) {
  .container {
    max-width: calc(2 * var(--card-width) + var(--cards-col-gap));
  }
}

/* стала одна колонка */
@media screen and (max-width: 646px) {
  .container {
    max-width: calc(100% - 32px * 2);
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: calc(100% - 30px * 2);
  }
}
