.page__unit {
  flex-shrink: 0;
  max-width: calc(3 * var(--card-width) + 2 * var(--cards-col-gap));
}

/* стало две колонки */
@media screen and (max-width: 945px) {
  .page__unit {
    max-width: unset;
  }
}
