.header__button {
  background: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: opacity 0.15s ease;
}

@media screen and (max-width: 646px) {
  .header__button {
    display: block;
  }
}

.header__button:hover {
  opacity: 0.6;
}

.header__button:focus {
  outline: none;
}
