.form__input {
  width: 100%;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 1.22;
  font-weight: normal;
  padding: 8px 6px 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 0;
  transition: outline-color 0.5s ease;
}

@media screen and (max-width: 500px) {
  .form__input {
    font-size: 12px;
    line-height: 1.25;
  }
}
