.form__input {
  width: 100%;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.22;
  font-weight: normal;
  padding: 8px 2px;
  border: none;
  box-sizing: border-box;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
}

.form__input:focus:not(.form__input_invalid) {
  border-bottom-color: #000;
}

.form__input:focus {
  outline: none;
}

@media screen and (max-width: 500px) {
  .form__input {
    font-size: 12px;
    line-height: 1.25;
  }
}
