@import url(./__close-button/popup__close-button.css);
@import url(./__close-button/_far/popup__close-button_far.css);
@import url(./__container/popup__container.css);
@import url(./__container/_for/popup__container_for_form.css);

.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease;
}

.popup:focus {
  outline: none;
}
